$base-color1: #F9F7F7;
$base-color2: #DBE2EF;
$base-color3: #3F72AF;
$base-color4: #112D4E;

:export {
    base-color1:$base-color1;
    base-color2:$base-color2;
    base-color3:$base-color3;
    base-color4:$base-color4;
}